@tailwind base;
@tailwind components;
@tailwind utilities;

.shelf {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
    row-gap: 4rem;
    margin: 1rem;
    padding: 3rem;
}

.book-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  perspective: 600px;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  gap: 30px 20px;
}

@keyframes initAnimation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(-30deg);
  }
}

.book {
  width: 200px;
  height: 300px;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(-30deg);
  transition: 1s ease;
  animation: 1s ease 0s 1 initAnimation;
}

.book-container:hover .book, 
.book-container:focus .book {
  transform: rotateY(0deg);
}

.book > :first-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  width: 200px;
  height: 300px;
  transform: translateZ(15px);
  background-color: #01060f;
  border-radius: 0 2px 2px 0;
  box-shadow: 5px 5px 20px #666;
}

.book::before {
  position: absolute;
  content: ' ';
  background-color: blue;
  left: 0;
  top: 1px;
  width: 28px;
  height: 298px;
  transform: translateX(184px) rotateY(90deg);
  background: linear-gradient(90deg, 
    #fff 0%,
    #f9f9f9 5%,
    #fff 10%,
    #f9f9f9 15%,
    #fff 20%,
    #f9f9f9 25%,
    #fff 30%,
    #f9f9f9 35%,
    #fff 40%,
    #f9f9f9 45%,
    #fff 50%,
    #f9f9f9 55%,
    #fff 60%,
    #f9f9f9 65%,
    #fff 70%,
    #f9f9f9 75%,
    #fff 80%,
    #f9f9f9 85%,
    #fff 90%,
    #f9f9f9 95%,
    #fff 100%
    );
}

.book::after {
  position: absolute;
  top: 0;
  left: 0;
  content: ' ';
  width: 200px;
  height: 300px;
  transform: translateZ(-15px);
  background-color: #01060f;
  border-radius: 0 2px 2px 0;
  box-shadow: -10px 0 50px 10px #666;
}

.dot-tile {
  background:
  radial-gradient(27% 29% at right, #0000 83%,#5e412b 85% 99%,#0000 101%) calc(16px/2) 16px,
  radial-gradient(27% 29% at left, #0000 83%,#5e412b 85% 99%,#0000 101%) calc(16px/-2) 16px,
  radial-gradient(29% 27% at top, #0000 83%,#5e412b 85% 99%,#0000 101%) 0 calc(16px/2),
  radial-gradient(29% 27% at bottom, #0000 83%,#5e412b 85% 99%,#0000 101%) 0 calc(16px/-2)
  #ffffff;
background-size: 32px 32px;
}